@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Montserrat:400,700');

* {
    font-family: 'Lato';
}

a {
    text-decoration: none;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
textarea{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0px;

}

.formbg {
    background-color: rgb(230, 187, 131);
    margin: 10% auto auto auto;
    font-size: 20px;
    width: 100%;
    max-width: 448px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
.formbgAdd {
    background-color: rgb(230, 187, 131);
    margin: auto;
    font-size: 20px;
    width: 100%;
    max-width: 448px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
.formHeader{
    padding-top: 2vh;
    display: flex;
    justify-content: center;
}

.formInput{
    width: 70%;
    margin-left: 15%;
}
.formTitle{
    margin-left: 10%;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

button:focus, input:focus {
    outline: none;
}

.mm-number {
    display: flex;
    align-items: center;
	justify-content: center;
	height: 5vh;
	width: 20vw;
}

.mm-number-container {
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	height: inherit;
}

.mm-number-input {
	width: 500px;
	max-width: 90%;
	margin: 0 auto;
	text-align: center;
}

.mm-number-input-container {
	-ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.mm-number-input-item {
	width: 40px;
	height: 40px;
	margin: 10px 2px;
}

.mm-number-input-item input {
	width: 100%;
	height: inherit;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	border: 1px solid rgba(20,20,20,0.1);
}

.mm-number-input-submit {
    text-align: center;
    width: 80px;
    height: 40px;
    background: #f1f1f1;
    color: #333;
    border: none;
    font-size: 14px;
    font-weight: 300;
}

.mm-number-input-submit:focus, .mm-number-input-submit:hover {
	background: #333;
	color: #f1f1f1;
	cursor: pointer;
}

.blueButton{
    margin-left: 1vh ;
}